.homepage {
}

.homepage__main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-xxl) var(--space-lg);
    background-color: var(--white);
    display: grid;
    grid-template-columns: max-content 1fr; /* esq = largura do conteúdo; dir = ocupa o resto */
    gap: var(--space-24, 24px);
    align-items: start;
}

.homepage__content {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 200px auto;
    gap: var(--space-lg);
    justify-content: center;
    align-items: flex-start;
}

.hompage__button__container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-12, 12px);
    position: sticky;
    top: var(--space-24, 24px);
    align-self: flex-start;
}

.homepage__books {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-16, 16px);
    align-items: flex-start;
    justify-content: flex-start;
}

.filter {
    display: flex;
    align-items: center;
    gap: var(--space-md);
    margin: var(--space-lg);
    padding: var(--space-lg);
    background-color: var(--white-100);
    font-family: var(--font-family);
}

/* Responsive design */
@media (max-width: 768px) {
    .homepage__books {
        flex-direction: column;
        align-items: center;
        gap: var(--space-lg);
    }

    .homepage__main {
        padding: var(--space-lg);
    }
}
